@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;900&display=swap');

@font-face {
    font-family: "Lovelo Black";
    src: url("Lovelo-Black.woff") format('woff');
}



body {
    background-color: #a7282b;
    color: #231d2c;
    font-family: 'M PLUS 1p', sans-serif;
    min-width: 720px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}



.load {
    background-color: #a7282b;
    font-family: "Lovelo Black";
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.load--inactive {
    opacity: 0;
    visibility: hidden;
}



header,
footer {
    background-color: #231d2c;
    color: #d7cbbb;
    font-family: "Lovelo Black";
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

header h1 {
    font-size: large;
}

header ul {
    display: flex;
    gap: 50px;
}

header a {
    cursor: pointer;    
}

header a:hover {
    color: white;
}

footer .container {
    padding: 50px 0;
}

footer p {
    font-size: small;
    text-align: center;
}

footer span {
    font-size: x-small;
}



main {
    color: #d7cbbb;
}

main article:nth-child(even) {
    background-color: #231d2c;
}

main h2 {
    font-family: "Lovelo Black";
    font-size: large;
    text-align: center;
}

.pattern {
    position: absolute;
    width: 100px;
    height: 4000px;
    background-image: url("images/pattern.png");
    background-repeat: repeat-y;
    z-index: -100;
}



.hero {
    overflow: hidden;
}

.hero .container {
    height: 720px;
    position: relative;
}

.hero .logo {
    position: absolute;
    bottom: 100px;
    left: 100px;
    z-index: -9;
    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}

.hero .char {
    position: absolute;
    top: -50px;
    right: 0;
    z-index: -10;
    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}

.hero .copy {
    color: #d7cbbb;
    font-size: 2em;
    font-style: italic;
    font-weight: 900;
    line-height: 1;
    position: absolute;
    top: 200px;
    left: 100px;
}

.hero span {
    display: block;
    transition: all 4s cubic-bezier(0.16, 1, 0.3, 1) 1s;
}

.hero span:nth-child(2) {
    margin-left: 100px;
    transition: all 4s cubic-bezier(0.16, 1, 0.3, 1) 1.2s;
}

.hero--fade .logo {
    transform: translateY(-100px);
}

.hero--fade .char {
    transform: translateY(100px);
}

.hero--fade span {
    opacity: 0;
    transform: translateX(200px);
}

.hero .pattern--left {
    bottom: 100px;
    left: 100px;
    transform: translate(-50%, 50%) rotate(105deg);
}

.hero .pattern--right {
    top: 100px;
    right: 100px;
    transform: translate(50%,-50%) rotate(-75deg);
}



#watch .container {
    padding: 100px 0;
}

#watch p {
    text-align: center;
    margin-top: 50px;
}



#intro {
    overflow: hidden;
}

#intro .container {
    padding: 100px;
    position: relative;
}

#intro .intro__text {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

#intro section {
    margin-top: 100px;
    position: relative;
    opacity: 1;
}

#intro h3,
#intro .section__text {
    width: 66%;
}

#intro section:nth-child(even) h3,
#intro section:nth-child(even) .section__text {
    margin-left: auto;
}

#intro h3 {
    font-size: large;
    font-weight: 900;
    font-style: italic;
    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}

#intro .section__text {
    margin-top: 50px;
    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1) 0.2s;
}

#intro img {
    position: absolute;
    transition: all 4s cubic-bezier(0.16, 1, 0.3, 1);
    z-index: -1;
}

#intro .extinguisher {
    top: 0;
    right: 50px;
    bottom: 0;
    margin: auto;
}

#intro .lighter {
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#intro .diamond {
    top: 0;
    bottom: 0;
    left: 50px;
    margin: auto;
}

#intro .gun {
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* transform: rotate(15deg); */
}

#intro .pattern--left {
    bottom: 50%;
    left: 0;
    transform: translate(-50%, 50%) rotate(165deg);
}

#intro .pattern--right {
    top: 50%;
    right: 0;
    transform: translate(50%,-50%) rotate(-15deg);
}

#intro .fade h3,
#intro .fade .section__text,
#intro .fade img {
    opacity: 0;
}

#intro .fade h3,
#intro .fade .section__text {
    transform: translateY(100px);
}

#intro .fade .extinguisher {
    transform: translate(100px, -100px) rotate(-15deg);
}

#intro .fade .lighter {
    transform: translate(-100px, 100px) rotate(-15deg);
}

#intro .fade .diamond {
    transform: translateX(100px) rotate(360deg);
}

#intro .fade .gun {
    transform: translate(-100px, 100px) rotate(-90deg);
}



#share .container {
    padding: 100px 0;
}

#share ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

#share a {
    cursor: pointer;    
}

#share a:hover {
    opacity: 0.8;
}

#share img {
    width: 50px;
}
